<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>ua.artcode.week8.servlet.HelloServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
        <!--localhost:8080/test-servlet/hello-->
        <!--localhost:8080/ -> $TOMCAT_HOME/webapps/-->
        <!--localhost:8080/app -> $TOMCAT_HOME/webapps/app-->
    </servlet-mapping>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>ua.artcode.week8.servlet.UserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user/info</url-pattern>
        <!--localhost:8080/test-servlet/hello-->
        <!--localhost:8080/ -> $TOMCAT_HOME/webapps/-->
        <!--localhost:8080/app -> $TOMCAT_HOME/webapps/app-->
    </servlet-mapping>


</web-app>